<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Users</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-200 text-black">
    <div id="login_reg_backdrop" class="hidden fixed inset-0 bg-black bg-opacity-80 z-20"></div>
    <div id="nav_bar" class="bg-white py-2 w-full shadow-lg sticky top-0 z-10">
        <ul class="flex items-center justify-evenly">
            <img onclick="window.location.href='/'" src="{{ url_for('static', filename='images/recipe_logo.jpeg') }}" class="w-12 h-12 cursor-pointer" alt="site logo">
            <h1 class="text-4xl">Recipe Share</h1>
            <div class="relative " id="dropdown_menu">
                <img src="{{ url_for('static', filename='images/smiley_face.png') }}" class="w-16 h-16" id="hover_smiley" alt="smiley face signin dropdown">
                <ul id="smile_dropdown" class="absolute hidden  bg-gray-50 shadlow-lg py-2 px-3 w-40 ">
                    <li class="hover:text-blue-400 cursor-pointer"><a href="/recipes">Recipes</a></li>
                    <li class="hover:text-blue-400 cursor-pointer"><a href="/user/logout">Log Out</a></li>

                </ul>
            </div>
            
        </ul>
        
    </div>
    <div id="black_backdrop" class="hidden bg-black bg-opacity-20 absolute left-0 top-0 bottom-0 right-0 h-full w-full"></div>
    <div id="main_content" class="w-1/2 mx-auto mt-16 ">
        <h2 class="text-4xl font-semibold mb-6 rounded-lg">Edit Your <span class="italic">{{recipe.name}} </span>Recipe!</h2>
        {% with messages = get_flashed_messages() %} 
            {% if messages %}  
                <p class="text-sm text-red-400 font-semibold mt-[-1rem]">Recipe Error:</p>
                {% for message in messages %}      
                    <p class="italic text-sm text-red-400">{{message}}</p>              
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="" method="post" class="flex gap-4 rounded-lg p-8 border-2 bg-white">
            <input type="hidden" name="id" value="{{recipe.id}}">
            <!-- left side of form -->
            <div class="space-y-4 flex flex-col w-2/3">
                <input type="text" name="name" value="{{recipe.name}}" class="block w-full border-b-2 border-gray-400 outline-none p-1">
                <textarea name="description" cols="30" rows="8" class="bg-gray-100 resize-none outline-none p-2 w-full">{{recipe.description}} </textarea>
                <textarea name="instructions"  rows="8" class="bg-gray-100 resize-none outline-none p-2 w-full">{{recipe.instructions}}</textarea>
            </div>
            <!-- right side of form -->
            <div class="flex flex-col items-center justify-between w-1/3 text-gray-400">
                <div class="h-full flex flex-col items-center justify-evenly">
                    <div>
                        <label for="date_input" class="block text-gray-600 mb-2">Date Made</label>
                        <input type="date" name="date_made" id="date_input" class="outline-gray-400 p-1" value="{{recipe.date_made}}">
                    </div>
                    <div>
                        <p class="text-gray-600 mb-2">Under 30 minutes?</p>
                        <label class="text-gray-500"><input type="radio" name="under_30" value="yes" checked> Yes</label>
                        <label class="text-gray-500"><input type="radio" name="under_30" value="no" class="ml-4" 
                        {% if recipe.under_30 == 'no'%} checked {% endif %}> No</label>
                    </div>
                </div>
                <button type="submit"class="rounded border-2 border-rose-300 px-8 py-2 text-sm font-medium uppercase text-gray-400 transition duration-150 ease-in-out hover:border-rose-400 hover:bg-rose-300 hover:bg-opacity-50 hover:text-white">Update</button>
            </div>
        </form>
        
        
    </div>
</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->